
   $color-none:      transparent;

// Custom brand colors

   $color-a:         #aaa;
   $color-b:         #bbb;
   $color-c:         #ccc;
   $color-d:         #ddd;
   $color-e:         #eee;
   $color-f:         #fff;

// Colors presets (sorted alphabetically)

   $amber-a:         #ffca28;
   $amber-b:         #ff8f00;
   $black-a:         #000000;
   $black-b:         #222222;
   $blue-a:          #42a5f5;
   $blue-b:          #1565c0;
   $blue-gray-a:     #78909c;
   $blue-gray-b:     #37474f;
   $brown-a:         #8d6e63;
   $brown-b:         #4e342e;
   $cyan-a:          #26c6da;
   $cyan-b:          #00838f;
   $deep-orange-a:   #ff7043;
   $deep-orange-b:   #d84315;
   $deep-purple-a:   #7e57c2;
   $deep-purple-b:   #4527a0;
   $gray-a:          #bdbdbd;
   $gray-b:          #424242;
   $green-a:         #66bb6a;
   $green-b:         #2e7d32;
   $indigo-a:        #5c6bc0;
   $indigo-b:        #283593;
   $light-blue-a:    #29b6f6;
   $light-blue-b:    #0277bd;
   $light-green-a:   #9ccc65;
   $light-green-b:   #558b2f;
   $lime-a:          #d4e157;
   $lime-b:          #9e9d24;
   $orange-a:        #ffa726;
   $orange-b:        #ef6c00;
   $pink-a:          #ec407a;
   $pink-b:          #ad1457;
   $purple-a:        #ab47bc;
   $purple-b:        #6a1b9a;
   $red-a:           #ef5350;
   $red-b:           #c62828;
   $teal-a:          #26a69a;
   $teal-b:          #00695c;
   $white-a:         #ffffff;
   $white-b:         #f5f5f5;
   $yellow-a:        #ffee58;
   $yellow-b:        #f9a825;

// Glass styles presets

   $light-glass-a:   rgba( 225, 225, 225, 0.8);
   $light-glass-b:   rgba( 255, 255, 255, 0.9);

   $dark-glass-a:    rgba( 0, 0, 0, 0.8);
   $dark-glass-b:    rgba( 0, 0, 0, 0.9);

   $frosted-level:   10px;

// Networks & Services (sorted alphabetically)

   $behance:         #0079ff;
   $facebook:        #3b5998;
   $flickr:          #ff0084;
   $gplus:           #db4437;
   $instagram:       #262626;
   $linkedin:        #00a0dc;
   $ok:              #ee8208;
   $tumblr:          #36465d;
   $twitter:         #55acee;
   $vimeo:           #1ab7ea;
   $vk:              #507299;
   $youtube:         #cc181e;
